
.content{
    width: 100%;
    height: 100%;
    position: relative;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    height: 93%;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
}
footer > ul {
    margin: 0;
    padding: 0;
}
footer > ul > li {
    padding: 0;
    padding-top: 6%;
    border-top: solid 1px black;
    margin: 0;
    height: 7%;
    line-height: 7%;

    text-align: center;
    width: 50%;
    float: left;
    list-style: none;
    color: blue;
    font-size: 22px;
}
