*{
  box-sizing:border-box;
}

html,body,#app{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a,a:visited{
  color:#000;
}

h1{
  font-size: 40px;
}

.main{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction:column;
}

.children{
  padding:20px;
  flex:1;
}

.tab{
  height: 100px;
  display: flex;
  border-top: 1px solid #000;
  padding: 0;
  margin: 0;
}

.tab-item{
  padding: 0;
  margin: 0;
  display: flex;
  flex:1;
  align-items:center;
  justify-content: center;
}

.tab-item a,.tab-item a:visited{
  color:blue;
  text-decoration: none;
}

.tab-item:not(:last-child){
  border-right: 1px solid #000;
}

a.tab-item-act{
  color:red;
}